*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}
.calculator{
    background-color:#E0218A ;
    width: 470px;
    height: 680px;
    margin:0 auto;
    border-radius: 30px;
    padding: 11px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; ;
}
.display{
    color: white;
    font-size: 67px;
   text-align: end;
   padding-top: 20px;
   background-color: rgb(142, 139, 139);
   border-radius: 30px;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
}
.button{
    width: 22%;
    padding: 28px 20px;
    border: none;
    margin: 10px 6px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 30px;
    color:#FF4DE1 ;
}
.dark-pink{
    background-color:#eb427b ;
    color: white;
}
.light-pink{
    background-color:#e89cc3;
    color: white;
}
.zero-btn{
    padding: 30px 180px 29px 30px;
    
}
.barbie{
    width: 360px;
    
}